.newTask {
  display: flex;
  flex-direction: column;
  grid-area: new-task;
  gap: 1.6rem;
  background-color: #242933;
  border-radius: 0.8rem;
  padding: 0.8rem;
  max-width: 40rem;

  .inputContainer {
    display: flex;
    flex-direction: column;
    width: 100%;

    label {
      margin-bottom: 0.8rem;
      font-size: 1.6rem;
    }

    input {
      width: 100%;
      padding: 0.8rem;
      border-radius: 0.8rem;
      background: transparent;
      border: #444d58 1px solid;
      color: #fff;
      font-size: 1.6rem;

      &::placeholder {
        color: #444d58;
      }

      &[type='time']::-webkit-calendar-picker-indicator {
        filter: invert(1);
      }
    }
  }

  @media screen and (min-width: 900px) {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1.6rem;
    height: 20rem;
    min-width: 50rem;

    .inputContainer {
      width: calc(55% - 1.2rem);
      &:last-of-type {
        width: 40%;
      }

      input {
        font-size: 1.6rem;
      }
    }
  }
}
